/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body, html {
  margin: 0;
  font: 16px "Lato", "sans-serif";
  color: #777;
  height: 100%;
}
.conteudo {
  color: #777;
  background-color: white;
  text-align: justify;
  padding: 50px 80px;
}

.conteudo-titulo {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
}

.conteudo-titulo span {
  color: #FFF;
  background-color: #111;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 50%;
  border-radius: 1rem;
}


h3 {
  text-transform: uppercase;
  color: 111;
  text-align: center;
}
p {
  margin-bottom: 20px;
}



.caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6 {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.caixa1 {
  background-image: url(assets/images/paseio-balão.jpeg);
}

.caixa2 {
  background-image: url(assets/images/pegando-estrada.jpeg);
}

.caixa3 {
  background-image: url(assets/images/por-do-sol.jpeg);
}

.caixa4 {
  background-image: url(assets/images/montanhas.jpeg);
}

.caixa5 {
  background-image: url(assets/images/horizonte.jpeg);
}

.caixa6 {
  background-image: url(assets/images/praia.jpeg);
}


